# Logs
logs
*.log

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Deno cache directory
deno_cache/

# Coverage directory
coverage
*.lcov

# TypeScript cache
*.tsbuildinfo

# Optional REPL history
.deno_repl_history

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Deno build output
dist/